
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #1D1F24;
    font-family: sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
}

#container{
    display: flex;
    align-items: center;
   min-height: 100vh; 
}

#calc-imc{
    display: flex;
    flex-direction: column;
    align-items: center;   
    background-color: #001821;
    width: 400px;
    border-radius: 15px;
    border: 1px solid #07E78F;   
}

input{
    height: 35px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
}

h1{
    margin: 35px auto;
}

p{
    margin-bottom: 35px;
    font-size: 20px;
}

button{
    margin-bottom: 15px;
    width: 75%;
    height: 35px;
    background-color: #07E78F;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    opacity: 0.8;
}